Dependencies to install:

pypng==0.20220715.0
PyQRCode==1.2.1
wincertstore==0.2

pip install -r requirements.txt -> is the control to install all the rquired dependencies

Just run the bar.py in any python IDE.